<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New Coffee</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Coffee</h1>
    <form action="/users/<%= user._id %>/coffees" method="POST">
        <div>    
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
        </div>
        <div>    
            <label for="sort">Sort:</label>
            <input type="text" name="sort" id="sort" />
        </div>

        <div>    
          <label for="variety">Variety:</label>
          <input type="text" name="variety" id="variety" />
        </div>
 
      
        <div>    
          <label for="grainProcessing">Grain processing:</label>
          <input type="text" name="grainProcessing" id="grainProcessing" />
        </div>

        <div>    
          <label for="roastingLevels">Roasting levels:</label>
          <input type="text" name="roastingLevels" id="roastingLevels" />
        </div>

        <div>    
          <label for="grindingMethods">Grinding methods:</label>
          <input type="text" name="grindingMethods" id="grindingMethods" />
        </div>

        <div>    
          <label for="preparationMethods">Preparation methods:</label>
          <input type="text" name="preparationMethods" id="preparationMethods" />
        </div>

        <div>    
          <label for="coffeeAppliances">Coffee appliances:</label>
          <input type="text" name="coffeeAppliances" id="coffeeAppliances" />
        </div>

        <div>    
          <label for="origin">Origin:</label>
          <input type="text" name="origin" id="origin" />
        </div>

        <div>    
          <label for="coffeeBeverages">Coffee beverages:</label>
          <input type="text" name="coffeeBeverages" id="coffeeBeverages" />
        </div> 

            <button type="submit">Add a coffee</button>
          </form>
  </body>
</html>